:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-color: #e5e5e5;
  --secondary-backround-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a:active,
a:focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}

/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ДОМИНАНТНЫЙ */

/* PAGE = BODY */

.page {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* ?????? */
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/*------------------- HEADER -------------------*/

/* HEADER */
.page-header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

/* DIV */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV  */
/* NAV + ADDRESS,
  UL (SITE-NAV -- UL()) */

.site-nav,
.hover {
  display: flex;
  align-items: center;
}

/* LOGO */
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
  margin-right: 93px;
}

.logo-web {
  color: var(--brand-color);
}

/* A (SITE-NAV--UL--LI--A(LINK))*/

.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*  ДОП. Х-КИ
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  fill: currentColor;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
} */

.site-nav .link.current {
  color: var(--brand-color);
  position: relative;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--brand-color);
  border-radius: 2px;
  left: 0;
  bottom: -3px;
}

/* MENU (STUDIO-PORTFOLIO-CONTACTS)*/
/* UL.MENU-LIST */

.menu-list {
  display: flex;
  align-items: center;
}

.menu-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-item .header-contact-link,
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  fill: currentColor;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

/* CONTACTS */

.header-contacts {
  display: flex;
}

.header-contact-item {
  margin-right: 30px;
}

.header-contact-link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.hover a:hover,
.hover a:focus {
  color: var(--brand-color);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-contact-icon {
  margin-right: 10px;
  display: inline-block;
  align-items: center;
  background-size: contain;
}

/*------------------- HERO -------------------*/

.hero {
  height: 600px;
  display: flex;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  margin: 0 auto 30px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

.hero-button {
  height: 50px;
  color: var(--white-color);
  background-color: var(--brand-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* BACKDROP  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 581px;
  width: 528px;

  padding-top: 8px;
  padding-right: 8px;

  background-color: #fff;
}

.vector-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
}

.vector-icon {
  display: block;
  width: 11px;
  height: 11px;
}
/*------------------- SECTION FEATURES (WITH HIDDEN H2) -------------------*/

.hidden {
  display: none;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-list-item {
  width: 270px;
}
.features-list-item:last-child {
  margin-right: 0;
}

/* ICONS */

.features-list-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-backround-color);
}

.antenna::before {
  background-image: url(../images/antenna.svg);
}

.clock::before {
  background-image: url(../images/clock.svg);
}

.diagram::before {
  background-image: url(../images/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features-list-item .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list-item .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}

/*------------------- SECTION  WHAT WE DO -------------------*/

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-title {
  margin-bottom: 50px;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-item {
  position: relative;
}

.what-we-do-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 0;
  height: 70px;
  width: 100%;

  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/*------------------- SECTION OUR TEAM-------------------*/

.section.team {
  background-color: var(--secondary-backround-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-list .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

/* ICONS  */

.social-list {
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--brand-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white-color);
}

/* .social-list-icon:hover,
.social-list-icon:focus {
  fill: #ffffff;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
} */

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: 250ms fill cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

/* .social-list__item:hover, 
.social-list__item:focus {
  background-color: var(--special-color);
  transition: 2500ms background-color cubic-bezier(0.4, 0, 0.2, 1);
} */

/*------------------- SECTION OUR CLIENTS -------------------*/
.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients-title {
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
}

/* ICONS  */

.our-clients-item {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.our-clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: all;
}

.clients-icon:hover,
.clients-icon:focus {
  fill: var(--brand-color);
  border: 1px solid var(--brand-color);
}

/*------------------- FOOTER -------------------*/
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer.container {
  padding-left: 215px;
}

.footer .logo {
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer .address {
  color: var(--white-color);
  font-style: normal;
}

.footer .link {
  display: inline-block;
  color: var(--fotter-link-color);
  font-style: normal;
  margin-top: 9px;
}

.footer-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer-soc-links {
  display: flex;
}

.footer-soc-link-item:not(:last-child) {
  margin-right: 10px;
}

/* ICONS  */

.footer-soc-icons {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.inst {
  background-image: url(../images//instagram-w.svg);
}
.twit {
  background-image: url(../images/twitter-w.svg);
}
.fb {
  background-image: url(../images/facebook-w.svg);
}
.li {
  background-image: url(../images/linkedin-w.svg);
}

.footer-soc-icons:hover,
.footer-soc-icons:focus {
  background-color: var(--brand-color);
}

.footer-form {
  display: flex;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  align-items: center;
  padding: 15px 16px;
  margin-right: 12px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-background-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  cursor: pointer;
}

.fotter-form-btn {
  display: flex;
  align-items: center;

  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-position: bottom 13px right 28px;
  cursor: pointer;
  padding-left: 29px;
  padding-right: 62px;
}

/*------------------- PORTFOLIO -------------------*/

.portfolio {
  padding-top: 100px;
  padding-bottom: 94px;
}

/* FILTER  */
.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-family: Roboto;
  background-color: var(--secondary-backround-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .filter-list button:hover{
    border-color: transparent;
    outline: none;
} */

/* WORKS */

.portfolio-div {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-section-link {
  display: inline-block;
  transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-link:hover,
.portfolio-section-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-section-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-section-list .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-section-list .type {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

/* MODAL WINDOW */

.portfolio-modal {
  position: relative;
  overflow: hidden;
}

.portfolio-section-item:hover .portfolio-text-modal,
.portfolio-section-link:focus .portfolio-text-modal {
  top: 0;
}

.portfolio-text-modal {
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  transition: 250ms top cubic-bezier(0.4, 0, 0.2, 1);
}
