/*------------------- SECTION FEATURES (WITH HIDDEN H2) -------------------*/

.hidden {
  display: none;
}

.features {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    // justify-content: space-between;
  }
}

.features-list-item {
  width: 100%;

  &:last-child {
    margin-right: 0;
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: unset;
    }
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

/* ICONS */

.features-list-item {
  &::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-backround-color);
  }
}

.antenna {
  &::before {
    background-image: url(../images/antenna.svg);
  }
}

.clock {
  &::before {
    background-image: url(../images/clock.svg);
  }
}

.diagram {
  &::before {
    background-image: url(../images/diagram.svg);
  }
}

.astronaut {
  &::before {
    background-image: url(../images/astronaut.svg);
  }
}

.features-list-item .title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features-list-item .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}
