/*------------------- FOOTER -------------------*/
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &.container {
    padding-left: 215px;
  }
}

.footer-container {
  @media screen and (min-width: 768px) and (max-width: 1190px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (max-width: 1190px) {
  .footer nav {
    text-align: center;
  }
}

.footer-div {
  @media screen and (min-width: 768px) and (max-width: 1190px) {
    margin-left: 76px;
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

.div-footer {
  @media screen and (max-width: 1190px) {
    text-align: center;
  }
}

.connect {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-items: center;
    margin-left: 166px;
  }
  & .footer-title {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      text-align: center;
    }
  }
}

.footer-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  display: inline-block;
  font-size: 24px;
  line-height: 28px;

  color: var(--white-color);
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 31px;
  }
}

.footer .address {
  color: var(--white-color);
  font-style: normal;
  text-align: center;
}

.footer .link {
  display: inline-block;
  color: var(--fotter-link-color);
  font-style: normal;
  margin-top: 9px;
}

.footer-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  @media screen and (max-width: 1190px) {
    text-align: center;
  }
}

.footer-hover {
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-soc-links {
  display: flex;
  margin: 0 auto;
  margin-bottom: 60px;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.footer-socials {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-soc-link-item:not(:last-child) {
  margin-right: 10px;
}

/* ICONS  */

.footer-soc-icons {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--brand-color);
  }
}

.inst {
  background-image: url(../images//instagram-w.svg);
}
.twit {
  background-image: url(../images/twitter-w.svg);
}
.fb {
  background-image: url(../images/facebook-w.svg);
}
.li {
  background-image: url(../images/linkedin-w.svg);
}

.footer-form {
  @media screen and (max-width: 767px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-form-input {
  display: flex;

  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  align-items: center;
  padding: 15px 16px;
  margin-right: 12px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-background-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  cursor: pointer;

  @media screen and (max-width: 767px) {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
}

.footer-form-btn {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);

  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-position: bottom 13px right 28px;
  cursor: pointer;
  padding-left: 29px;
  padding-right: 62px;

  @media screen and (max-width: 767px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
