/*------------------- SECTION OUR CLIENTS -------------------*/
.our-clients {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &-title {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 50px;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -30px;
  }
}

/* ICONS  */

.our-clients-item {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients-icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: all;

  &:hover,
  &:focus {
    fill: var(--brand-color);
    border: 1px solid var(--brand-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 90px;
  }
}

// .clients-icon:hover,
// .clients-icon:focus {
//   fill: var(--brand-color);
//   border: 1px solid var(--brand-color);
// }
