:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-color: #e5e5e5;
  --secondary-backround-color: #f5f4fa;
  --footer-background-color: #2f303a;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a:active,
a:focus {
  outline: none;
}

a:active,
a:focus {
  outline: none;
}

input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}

/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ДОМИНАНТНЫЙ */

/* PAGE = BODY */

.page {
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* ?????? */
.section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
